<a href="/data"><button>관리페이지로</button></a>
<h1>update</h1>
<% user.forEach(function(user){ %>
    <p><%= user.name %></p>
 <% }) %>
<button><a href = /data/update/user>동아리원 업데이트 </a></button>
<% team.forEach(function(team){ %>
    <p><%= team.teamname %></p>
 <% }) %>
<button><a href = /data/update/team>팀 업데이트 </a></button>

</div>