<!DOCTYPE html>
<html>
  <head>
    <title>관리자페이지</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>관리자페이지</h1>
    <button><a href = /data/time>시간,장소 입력</a></button>
    <button><a href = /data/team>팀 구성원 입력</a></button>
    <button><a href = /data/schedule>시간표 짜기 </a></button>


  </body>
</html>
