<!DOCTYPE html>
<html>
  <head>
    <title>FREEze</title>
    <link rel='stylesheet' href='/stylesheets/data.css' />
  </head>
  <body>
    <center>
      <div class = "banner">
        <a href = '/'><p>FREEze</p> </a>
      </div>

    <div class = 'menu'>
    <a href = /data/update>팀, 동아리원 보기, 업데이트 </a>
    <a href = /data/time>시간,장소 입력</a>
    <a href = /data/team>팀 구성원 입력</a>
    <a href = /data/schedule>시간표 짜기 </a>
    <hr/>
    </div>
  </center>
  </body>
  <div class = "info">
      <p>이메일 : dlwlgus4553@gmail.com</p>
      <p>홈페이지 : https://github.com/dlwlgus53</p>
    </div>
</html>
