<!DOCTYPE html>
<html>
  
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <center>
      <div class = "banner">
          <p>FREEze</p>
      </div>
    <div class = 'menu'>
        <p><a href="/data">정기 공연</a></p>
    </div>
    <div class = "info">
      <p>이메일 : dlwlgus4553@gmail.com</p>
      <p>홈페이지 : https://github.com/dlwlgus53</p>
    </div>
  
  </center>

  </body>
</html>
